#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.starship-card {
  width: 200px;
  height: 150px;
  margin: 10px;
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}
